@import url("https://fonts.googleapis.com/css2?family=Antonio");

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(77, 120, 248);
  font-family: "Antonio", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-y: scroll;
  margin: 0;
}

.photo
{
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 600px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 35px;
  box-shadow: 0 10px 10px rgb(0, 0, 0,0.7);
  position: relative;
  margin-bottom: 50px;
}
h1
{
  color: black;
  font-weight: bold;
  font-size: 28px;
  position: absolute;
  top: 0;
  background-color: rgb(194, 252, 255);
  display: inline-flex;
}

/* .photo::before
{
  content:'Nainital : Heaven on Earth....';
  position: absolute;
  top: 4%;
  left: 8%;
  color: rgb(0, 0,0);
  background-color: white;
  font-weight: bold;
  font-size: 30px;

} */

.speed
{
  position: absolute;
  bottom: 20px;
  color: white;
  background-color: teal;
  text-align: center;
  padding: 7px;
}

input
{
  padding: 5px;
  font-size: 0.8rem;
  text-align: center;
  background-color: rgb(77, 120, 248);
  border: none;
}
input:focus
{outline: none;}


@media (max-width:540px)
{
  body
  {
    margin:10px;
    overflow-x: hidden;
  }
  .photo
  {
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 400px;
  }
  h1
{
  color: black;
  font-weight: bold;
  font-size: 20px;
}
.speed
{
  position: absolute;
  bottom:30px;
}
}